version: '3.8'
services:
  frontend:
    build: ./frontend
    container_name: frontend-scaffold
    ports:
      - "5173:5173"

  backend:
    build: ./backend
    container_name: backend-scaffold
    ports:
      - "8000:8000"
    environment:
      OLLAMA_API_URL: http://ollama:11434
      MONGODB_ATLAS_URI: "mongodb+srv://turingxo:62ZHpjo3jc6d6umV@cluster0.bcjitnm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

  llm-service:
    image: ollama/ollama
    container_name: ollama
    volumes:
      - ollama:/root/.ollama
    ports:
      - "11434:11434"

volumes:
  ollama:
